<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="greensaver.app" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GreenSaverTheme" >
        <activity
            android:name="greensaver.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="greensaver.app.ShowUserActivity"
            android:label="@string/title_activity_show_user"
            android:parentActivityName="greensaver.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="greensaver.app.AddElectricDeviceActivity"
            android:label="@string/title_activity_add_electric_device"
            android:parentActivityName="greensaver.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="greensaver.app.ElectricInfoActivity"
            android:label="@string/title_activity_electric_info"
            android:parentActivityName="greensaver.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="greensaver.app.AddWaterActivityActivity"
            android:label="@string/title_activity_add_water"
            android:parentActivityName="greensaver.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="greensaver.app.AddRefuseProductionActivity"
            android:label="@string/title_activity_add_refuse_production"
            android:parentActivityName="greensaver.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
